{% extends 'base.html.twig' %}                    
{% form_theme formCategorie 'bootstrap_4_layout.html.twig' %}

{% block titre %} les categories {% endblock %}
{% block body %}

<div class="jumbotron">
<h1>les categorie</h1>
</div>1
{{ form_row(formCategorie.titre) }}
{{ form_row(formCategorie.resume) }}

{{ form_end(formCategorie) }}



{% endblock %}


